@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	/***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
	background-image: url('https://www.transparenttextures.com/patterns/classy-fabric.png');

	.content {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: 300;
		font-style: normal;
	}

	nav {
		display: flex;
		justify-content: space-evenly;

		.nav-links {
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			a {
				text-decoration-color: transparent;
				color: white;
				font-size: 1.25em;
				font-family: 'Nerko One', cursive;
				font-weight: 300;
				font-style: normal;
				padding: 0 20px;

				transition: all 0.5s ease;
			}

			a:hover {
				// color: #babbf1;
				text-decoration-color: #ef9f76;
				transition: all 0.5s ease;
			}
		}

		.name {
			font-family: 'Nerko One', cursive;
			font-weight: 400;
			font-style: normal;
			font-size: 2.5em;
			color: #babbf1;
			text-decoration: none;
		}
	}

	.sidebar {
		position: relative;
		transform: none;
		border-radius: 4px;
		margin-top: 50px;
		// max-width: 700px;
		margin: auto;
		border-radius: 0;
		border-top: 2px solid var(--background-secondary);
		justify-content: space-between;
	}
}
