@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	/***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
	background-image: url('https://www.transparenttextures.com/patterns/classy-fabric.png');

	.content {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: 300;
		font-style: normal;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: 'Nerko One', cursive;
			font-weight: 400;
			font-style: normal;
		}
	}

	nav {
		display: flex;
		justify-content: space-evenly;

		.nav-links {
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			a {
				text-decoration-color: transparent;
				color: white;
				font-size: 1.25em;
				font-family: 'Nerko One', cursive;
				font-weight: 300;
				font-style: normal;
				padding: 0 20px;

				transition: all 0.5s ease;
			}

			a:hover {
				// color: #babbf1;
				text-decoration-color: #ef9f76;
				transition: all 0.5s ease;
			}
		}

		.name {
			font-family: 'Nerko One', cursive;
			font-weight: 400;
			font-style: normal;
			font-size: 3em;
			color: #babbf1;
			text-decoration: none;
		}
	}

	.sidebar {
		position: relative;
		transform: none;
		border-radius: 4px;
		top: initial;
		right: initial;
		border-radius: 0;
		border-top: 2px solid var(--background-secondary);
		justify-content: space-between;
	}

	.sidebar-container {
		padding: 0;
	}

	a.tag {
		margin: 0 5px;
	}

	.callout {
		padding: 10px;
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: 300;
		font-style: normal;
	}

	.callout[data-callout='questions'] {
		--callout-color: 250, 179, 135;
		--callout-icon: lucide-search;
	}

	.callout[data-callout='methodology'] {
		--callout-color: 166, 227, 161;
		--callout-icon: lucide-flask-conical;
	}

	.callout[data-callout='conclusion'] {
		--callout-color: 249, 226, 175;
		--callout-icon: lucide-list;
	}

	.callout[data-callout='insights'] {
		--callout-color: 203, 166, 247;
		--callout-icon: lucide-lightbulb;
	}

// Remove borders from tables with only a header row
.markdown-rendered table:has(thead):not(:has(tbody)) th,
.markdown-rendered table:has(thead):not(:has(tbody)) td {
	border: none;
}
